.address-nav {
  display: flex;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  .item {
    display: block;
    margin-right: 50px;
  }

  .item:last-child {
    margin-right: 0;
  }
}

.address-icon {
  margin-right: 10px;

  fill: currentColor;
}

.address-nav .link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $primary-text-color;

  text-decoration: none;

  transition: color $animation, fill $animation;

  &:hover,
  &:focus {
    fill: $accent-color;
    color: $accent-color;
  }
}
